<web-app>
<servlet>
<servlet-name>sach</servlet-name>
<servlet-class>regis</servlet-class>
</servlet>

<servlet>
<servlet-name>sach2</servlet-name>
<servlet-class>login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>sach</servlet-name>
<url-pattern>/rg</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>sach2</servlet-name>
<url-pattern>/lg</url-pattern>
</servlet-mapping>

</web-app>